<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" type="text/css">
    <link rel="stylesheet" href="/assets/css/material.min.css">
    <link rel="stylesheet" href="/assets/css/app.css">

    <script>
        window.config = {
            google_client_id: '{{ google_client_id }}'
        }
    </script>
    <script defer src="/assets/js/app.js"></script>

    <title>{% block title %}Canton Resistance{% endblock %}</title>

    {% block head %}{% endblock %}
</head>
<body>
{% block layout %}{% endblock %}

<div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button type="button" class="mdl-snackbar__action"></button>
</div>

</body>
</html>
