{% extends "base.html" %}

{% block layout %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--blue-grey-900 home-header">
            <div class="mdl-layout__header-row">
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation">
                    {% if user.ID == 0 %}
                        <a class="mdl-navigation__link" href="/login">Login</a>
                    {% else %}
                        <a class="mdl-navigation__link" href="/user">{{ user.Name }}</a>
                    {% endif %}
                </nav>
            </div>
            <div class="mdl-layout__header-row home-header-row-main">
                <p><img src="/assets/img/cantonres-big.svg" alt="CANTONRES" height="160"></p>
                <p class="home-description">It's time to move. Join Resistance!</p>
                <p>
                    <a href="#" class="mdl-button mdl-button--raised mdl-color--blue-grey-700 mdl-color-text--white">Join</a>
                    &nbsp;&nbsp;
                    <a href="#" class="mdl-button mdl-button--raised mdl-button--accent">Tutorial</a>
                </p>
            </div>
        </header>

        <main class="mdl-layout__content mdl-layout__content--no-shrink">
            <div class="container">
                <section class="articles grid">
                    {% for article in articles %}
                        <div class="grid-item">
                            <article id="article-{{ article.ID }}" class="article mdl-card mdl-shadow--2dp">
                                {% if article.CoverImage %}
                                    <div class="mdl-card__image article-image">
                                        <img src="{{ article.CoverImage }}" alt="{{ article.Title }}">
                                    </div>
                                {% endif %}
                                <div class="mdl-card__title article-title">
                                    <h2 class="mdl-card__title-text">
                                        <a href="/article/{{ article.ID }}">{{ article.Title }}</a>
                                    </h2>
                                </div>
                                <div class="article-meta">
                                    <script>
                                        var date = new Date("{{ article.PublishedAt.Format("2006-01-02T15:04:05.999Z07:00") }}");
                                        console.log(date)
                                        var now = new Date();
                                        console.log(now)

                                        var output = '<time>';

                                        if (date.getYear() !== now.getYear()) {
                                            output += date.getYear() + '-';
                                        }

                                        output += date.getMonth() + '-' + date.getDate() + '</time>';

                                        document.write(date.toLocaleString());
                                    </script>
                                </div>
                                <div class="mdl-card__supporting-text article-content">
                                    {{ article.Description }}
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </section>
            </div>
        </main>
    </div>
{% endblock %}
