{% extends "base.html" %}

{% block layout %}
    <div class="mdl-layout">
        <header class="mdl-layout__header mdl-layout__header--scroll mdl-layout__header-always-show mdl-color--blue-grey-900">
            <div class="mdl-layout__header-row">
                <a href="/">
                    <img src="/assets/img/cantonres.svg" alt="CANTONRES" height="28">
                </a>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/login">Login</a>
                </nav>
            </div>
        </header>

        <main class="mdl-layout__content">
            <div class="mdl-grid mdl-grid--no-spacing">
                <div class="mdl-cell mdl-cell--12-col mdl-color--blue-grey-900 auth-header-ribbon"></div>

                <div class="mdl-cell mdl-cell--12-col auth-card-cell">
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-card mdl-shadow--2dp auth-card">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Welcome</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                    <div class="mdl-layout-spacer"></div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
