{% extends "base.html" %}

{% block layout %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--blue-grey-900 user-header-banner">
            <div class="layer"></div>

            <div class="mdl-layout__header-row mdl-layout__header-row--no-drawer">
                <a href="/"><img src="/assets/img/cantonres.svg" alt="CANTONRES" height="28"></a>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation">
                    {% if user.ID == 0 %}
                        <a class="mdl-navigation__link" href="/login">Login</a>
                    {% else %}
                        <a class="mdl-navigation__link" href="/user">{{ user.Name }}</a>
                    {% endif %}
                </nav>
            </div>

            <div class="container user-info-container">
                <div class="user-info">
                    <img class="user-avatar " src="{{ user_avatar_url }}" alt="{{ user.Name }}">
                    <div>
                        <h2 id="user-{{ user.ID }}">{{ user.Name }}</h2>
                        <div class="user-description">
                            <p>It's time to move.</p>
                        </div>
                        <div class="user-faction">
                            {% if user.Faction == 0 %}
                                <img src="/assets/img/ingress.svg" alt="Unknown Faction">
                            {% elif user.Faction == 1 %}
                                <img src="/assets/img/resistance.svg" alt="Unknown Faction">
                            {% elif user.Faction == 2 %}
                                <img src="/assets/img/enlightened.svg" alt="Unknown Faction">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main class="mdl-layout__content mdl-layout__content--no-shrink">
            <div class="container user-container">
                {% for year, articles in articles_by_year reversed sorted %}
                    <div class="mdl-color-text--grey-700 article-year">{{ year }}</div>

                    <div class="mdl-card mdl-shadow--2dp user-article-card">
                        {% for article in articles %}
                            <div class="article" id="article-{{ article.ID }}">
                                <div class="article-checkbox">
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="article-checkbox-{{ article.ID }}">
                                        <input type="checkbox" id="article-checkbox-{{ article.ID }}" class="mdl-checkbox__input"{% if not article.Status == 0 %} disabled{% endif %}>
                                    </label>
                                </div>

                                <span class="article-title">{{ article.Title }}</span>

                                {% if article.Status == 0 %}
                                    <div class="article-action">
                                        <button class="mdl-button mdl-js-button mdl-button--icon">
                                            <i class="material-icons">delete</i>
                                        </button>
                                        <a href="/user/article/{{ article.ID }}" class="mdl-button mdl-js-button mdl-button--icon">
                                            <i class="material-icons">mode_edit</i>
                                        </a>
                                    </div>
                                {% elif article.Status == 1 %}
                                    <span class="article-published mdl-color-text--light-blue-500">IN REVIEW</span>
                                {% elif article.Status == 2 %}
                                    <span class="article-published mdl-color-text--light-green-500">PUBLISHED</span>
                                {% else %}
                                    <span class="article-published mdl-color-text--red-500">UNKNOWN</span>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </main>
    </div>
{% endblock %}
